{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
     <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="" method="post">
              {% if error %}
                  <div class="alert alert-warning">{{ error }}</div>
              {% endif %}

              <h2 class="text-center">欢迎注册</h2>
                {% for item in register_form %}
                    <div class="form-group">
                        {{ item.label_tag }}
                        {{ item }}
                    </div>
                {% endfor %}
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div>
{% endblock %}