{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<div class="tabbable tabs-left" id="tabs-418843">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-984690" data-toggle="tab">文科</a>
					</li>
					<li class="active">
						<a href="#panel-878545" data-toggle="tab">理科</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-984690">
                        {#      文科信息              #}
                        <div id="select_message_art">
                            <form class="form-inline" action="" method="post" novalidate>
                                {% csrf_token %}
                                {% for foo in one_school_form %}
                                    <div class="form-group">
                                        {{ foo }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">查询</button>
                            </form>
                        </div>
                        <table class="table table-bordered table-hover table-striped ">
                            <tr><th>专业</th><th>年份</th><th>最高分</th><th>平均分</th><th>最低分</th><th>最低排名</th><th>批次</th>
                            {% for school in art_message %}
                            <tr>
                                <td>{{ school.profession_name }}</td>
                                <td>{{ school.year }}</td>
                                <td>{{ school.top_score }}</td>
                                <td>{{ school.avg_score }}</td>
                                <td>{{ school.lowest_score}}</td>
                                <td>{{ school.lowest_rank }}</td>
                                <td>{{ school.epoch }}</td>

                            </tr>
                            {% endfor %}
                        </table>
					</div>
					<div class="tab-pane active" id="panel-878545">
                        {#      理科信息              #}
                        <div id="select_message_science">
                            <form class="form-inline" action="" method="post" novalidate>
                                {% csrf_token %}
                                {% for foo in one_school_form %}
                                    <div class="form-group">
                                        {{ foo }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        </div>
						<table class="table table-bordered table-hover table-striped ">
                            <tr><th>专业</th><th>年份</th><th>最高分</th><th>平均分</th><th>最低分</th><th>最低排名</th><th>批次</th>
                            {% for school in science_message %}
                            <tr>
                                <td width="25%">{{ school.profession_name }}</td>
                                <td>{{ school.year }}</td>
                                <td>{{ school.top_score }}</td>
                                <td>{{ school.avg_score }}</td>
                                <td>{{ school.lowest_score}}</td>
                                <td>{{ school.lowest_rank }}</td>
                                <td>{{ school.epoch }}</td>

                            </tr>
                            {% endfor %}
                        </table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<ul>
				{% for recommend_school in recommend_school_list %}
                    <a href="../{{ recommend_school }}"><li>{{ recommend_school }}</li></a>
				{% endfor %}

			</ul>
		</div>
	</div>
</div>
{% endblock %}