{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<div class="tabbable tabs-left" id="tabs-418843">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-984690" data-toggle="tab">第一部分</a>
					</li>
					<li class="active">
						<a href="#panel-878545" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-984690">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane active" id="panel-878545">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<ul>
				<li>
					新闻资讯
				</li>
				<li>
					体育竞技
				</li>
				<li>
					娱乐八卦
				</li>
				<li>
					前沿科技
				</li>
				<li>
					环球财经
				</li>
				<li>
					天气预报
				</li>
				<li>
					房产家居
				</li>
				<li>
					网络游戏
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}