{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-md-6 col-md-offset-3"
        style="background-color: #dedef8;box-shadow:
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <p>您已完成性格测试,请查看为您<a href="../recommend_profession/">推荐的专业</a>吧</p>
        </div>
    <div class="col-md-6 col-md-offset-5">
    <br/>
    <a href="/test/01/*/">
        <button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-pencil"></span> 重新测试
        </button>
    </a>
    </div>
    </div>
</div>
{% endblock %}